<%= form_with model: [post, post.comments.build ] do |form| %>

<div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
</div>

<div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
</div>

<div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
</div>

<div>
    <%= form.submit %>
</div>

<%end%>